<h1 align="center"></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label t('user_name') %>
        <%= f.text_field :user_name, class: 'form-control' %>
        <%= f.label t('password') %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit t('login'), class: "btn btn-primary btn-block" %>
        <%= f.hidden_field :app_id, :value => params[:app_id] %>
        </br>
        <span>
        <button class="btn btn-default"><a href=<%= '/users/new' %>> <%= t('register') + ' new user' %></a></button>
        <button class="btn btn-link btn-block pull-left"><a href=<%= new_password_reset_path %>> <%= t('forget_password?') %></a></button>
        </span>
    <% end %>
  </div>
  <div>
  </div>

</div>

<br>
<br>
<br>
<p>
  Talents Center will enable you to login internal services with only one account and provides secure account services.
</p>

<p>
  Talents Center is still under in developing. If you have any question, please send your feedback to @an_x, by email or Slack.
</p>


