<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content=ENV['CLIENT_ID_ON_GOOGLE']>
<h1 align="center"></h1>
<%= stylesheet_link_tag 'application', media: 'all',
                        'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="row">
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <div class="col-md-6 col-md-offset-3">
    <% if @service_provider %>
      <div class="page-header center">
        You will be redirect to
        <strong><%= @service_provider.description %></strong>
        after login.
      </div>
    <% end %>
    <%= form_for(:session, url: login_path + '?' + request.query_parameters.to_query, html: {'data-toggle': 'validator'}) do |f| %>
      <span class="pull-right"><%= link_to 'Genius Center', root_url %></span>
      <div class="form-group">
        <%= f.label t('login') %>
        <%= f.text_field :login, class: 'form-control', autofocus: 'autofocus', placeholder: 'Using Gmail address to login is recommended,  genius account is compatible with Gmail account' %>
      </div>
      <div class="form-group">
        <%= f.label t('password') %>
        <%= f.password_field :password, class: 'form-control', 'data-minlength': 6, 'data-error': 'Password must longer than 5 charactors.' %>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        <span class="help-block with-errors">Password must longer than 5 charactors.</span>
      </div>
      <div class="form-group">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me, {checked: true}, true, false %>
          <span>Remember me on this computer ?</span>
        <% end %>
      </div>
      <%= f.submit t('login'), class: "btn btn-primary btn-block" %>
      <%= f.hidden_field :app_id, :value => params[:app_id] %>
      </br>
      <span>
          <span class="pull-left"> <%= link_to t('register'), new_user_url %></span>
          <div class="pull-right"> <%= link_to t('forget_password?'), 'http://reg.internal.worksap.com' %></div>
        </span>
    <% end %>
  </div>
  <div>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <div class="center"><strong>NOTICE</strong></div>
  <p>
    Genius account is planning to merging into ITS LDAP account(commonly know as Gmail account). Now you can use you
    Gmail address and password to login Genius Center. User data is synchronized automatically with your Genius account
    when you using Gmail account login.
  </p>
  <p>
    To reduce internal account managing cost and provide better internal auth service, we plan to stop Genius account
    self-registration service after 30/Sept, 2018. After stop account self-registration, new member will auto-registered
    when he/she first loggin to Genius Center by using Gmail account.
  </p>
  <p>
    We recommend you to use Gmail account login Genius directly from now on. All existed user are not affected by this Genius account upgrade.
  </p>
</div>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
