<% provide(:title, 'Forgot password') %>
<h1>Reset password by verification code</h1>
<div class="center" style="color: green">
  <strong>Recommend! Quick and easy!</strong>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:reset_form, url: password_resets_path) do |f| %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control' %>
        <%= f.label "Dynamic verfication code | Please get it by your Authenticator App" %>
        <%= f.text_field :otp_code, class: 'form-control' %>
        <%= f.label :new_password %>
        <%= f.password_field :new_password, class: 'form-control' %>
        <span>Password at least should have 6 chars</span>

        <%= f.hidden_field :reset_way, value: 'otp' %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Reset password by Email</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:reset_form, url: password_resets_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.hidden_field :reset_way, value: 'email' %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>