<%= form_with(model: user, local: true) do |form| %>
    <%= render 'shared/error_messages' %>
    <div class="field">
      <%= form.label t('user_name') %>

      <%= form.text_field :user_name, class: 'form-control', id: :user_user_name, placeholder: 'user_name only can contains number,lower-case letters and ".", such as "hero.wap"' %>
    </div>

    <div class="field">
      <%= form.label t('emp_id') %>
      <%= form.text_field :emp_id, id: :user_emp_id, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label t('mobile_phone') %>
      <%= form.text_field :mobile_phone, id: :user_mobile_phone, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label t('email') %>
      <%= form.text_field :email, id: :user_email, placeholder: 'your Worksap mail, end with "@worksap.co.jp"', class: 'form-control' %>
    </div>


    <div class="field">
      <%= form.label t('password') %>
      <%= form.password_field :password, id: :user_password, class: 'form-control' %>
      <span>Password at least should have 6 chars</span>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
