<%= form_with(model: service_provider, local: true) do |form| %>
    <% if service_provider.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(service_provider.errors.count, "error") %> prohibited this service_provider from being
            saved:</h2>

          <ul>
            <% service_provider.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label "Application ID" %>
      <%= form.text_field :app_id, id: :service_provider_app_id, class: 'form-control' %>
    </div>
  <div class="field">
    <%= form.label :application_name %>
    <%= form.text_field :app_name, id: :service_provider_app_name, class: 'form-control' %>
  </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, id: :service_provider_description, class: 'form-control' %>
    </div>
  <div class="field">
    <%= form.label :home_page %>
    <%= form.text_field :home_page, id: :service_provider_home_page, class: 'form-control' %>
  </div>
    <div class="field">
      <%= form.label :callback_url %>
      <%= form.text_field :callback_url, id: :service_provider_callback_url, class: 'form-control' %>
    </div>
    <div class="field">
      <%= form.label :revoke_url %>
      <%= form.text_field :revoke_url, id: :service_provider_revoke_url, class: 'form-control' %>
    </div>
  <div class="field">
    <%= form.label :test_use_only %>
    <%= form.check_box :test_use_only, id: :service_provider_test_use_only, class: 'form-control' %>
    <%= 'Select this box if this new SP only for test environment. The SP in production environment needs to be approved manually.' %>
  </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
